extends layout
block content

  h1 Review Detail
  p <strong>ID</strong>: #{review._id}
  p <strong>Movie</strong>: #{review.movie}
  p <strong>Content</strong>: #{review.content}
  p <strong>Date</strong>: #{review.review_date}

  hr
  p
    a(href=review.url+'/delete') Delete Review
  p
    a(href=review.url+'/update') Update Review