extends layout

block content
  h1= title

  ul
    each review in review_list
      li
        p
          a(href=review.url) Review_ID: #{review.id}
        |  #{review.movie} - #{review.content}
      hr

    else
      li There are no reviews.